/* <div className="p-3" style={{maxWidth: "700px"}}>
                        <h1 className="display-4 text-white mb-3 animate__animated animate__fadeInDown">Men Fashion</h1>
                        <p className="mx-md-5 text-white">"Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam"</p>
                      </div>
                      <a className="btn btn-outline-light shopbtn" href="#">Shop Now</a>


                      https://pnecommerce.netlify.app/img/carousel-1.jpg 1)

                      https://pnecommerce.netlify.app/img/carousel-2.jpg


                      https://pnecommerce.netlify.app/img/carousel-3.jpg */